html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    padding-inline: 0;
    padding-block: 0;
}

ul,ol {
    list-style-type: none;
}

#editor {
    display:grid;
    grid-template-columns: max-content 4fr minmax(max-content, 0.1fr); 
    height:75vh;
}

#select {
    padding: 0.25rem 0;
}

.form-modes {
    display: flex;
    padding: 0.5rem 0;
}

.form-entries {
    padding-left:0.5rem;
    padding-right: 0.25rem;
}

.object-menu {
    width:100%;
    height:100%;
    background-color: white;
}


.edit-object {
    margin: 0.15rem 0 0.15rem 0.15rem;
}